* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* BODY */
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightblue;
  }
  
  /* NAVBAR */
  .navbar {
    background-color: #7CA982;   
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 20px;    
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
    display: inline-block;
  }
  
  .navbar a:hover {
    color: rgb(9, 39, 98);    
  }
  
  .nav-left {
    display: flex; 
    gap: 20px;
}

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
  }

.contact-links a {
  font-size: 13px;
  color: #e6f2e6;
  opacity: 0.8;
  text-decoration: none;
  padding: 5px 0;
}

.contact-links a:hover {
  opacity: 1;
  color: white;
}

.contact-links ul { 
  gap: 3px;
  margin: 0;
  padding: 0;
}

  /* HERO */
  .hero {
    background-image: url("images/photo.jpg");
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
    color: white;
    padding-top: 60px;
  }
  
  .hero h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 30px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    height: 75%;
  }
  
  .hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;    
    color: white;     
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  }
  
  /* FEATURES */
  .feature-section {
    padding: 100px 5%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
  }
  
  .feature.reverse {
    grid-template-columns: 1fr 1fr;
  }
  
  .feature-text h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }
  
  .feature-text p {
    font-size: 1.15rem;
  }
  
  footer .social-icons img{
  width: 25px;  
  height: 25px;
  margin: 0 10px;
  vertical-align: middle;

  }

  /* FOOTER */
  footer {
    text-align: center;
    border-top: 1px solid #444;
    padding: 20px 0;
    font-size: 16px;
    background-color: #243E36;
    color: white; 
    width: 100%;
  }
  footer .footer-content {
  display: flex;  
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  transition: transform 0.3s, opacity 0.3s;
  }
  
  footer .social-icons a img:hover {
  transform: scale(1.2); 
  opacity: 0.8; 
  cursor: pointer;   
  }
  
  /* MEDIA QUERIES */
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(69, 133, 206);
    }
  
    h1 {
      font-size: 1rem;
    }
  }

  @media (max-width: 600px) {
    .contact-links {
      position: static;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }
    .nav-left {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media (max-width: 768px) {
    .contact-links {
      position: static;
      transform: none;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }
  
    .nav-left {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .nav-left a {
      font-size: 16px;
    }
  
    .contact-links a {
      font-size: 12px;
    }
    .hero p {
      font-size: 1rem;
      max-width: 90%;
    }
    .hero h1 {
      font-size: clamp(1.5rem, 6vw, 2rem);
      margin-top: 20px;
    }
  }
  